body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
p {
    color: #ffffff;
    line-height: 1.6;
    margin: 20px;
}   
li {
    color: #555;
    line-height: 1.6;
    margin: 20px;
    list-style-type: square;
}
ul {
    margin: 20px;
    padding-left: 40px;
}