body {
    background-color: #5a5a5a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

div {
    background-color: #333333;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #444;
}
h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
p {
    color: #ffffff;
    line-height: 1.6;
    margin: 20px;
}   
li {
    color: #ffffff;
    line-height: 1.6;
    margin: 20px;
    list-style-type: square;
}
ul {
    margin: 20px;
    padding-left: 40px;
}